body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: aliceblue;
    color: white;
}
main{
    border: 1px solid blue;
    background-image: url("./images/table.png");
    width: 400px;
    max-width: 85%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 2.5rem;
    margin: .5rem;
}
p{
    margin: 1rem;
}
button{
    width: 60%;
    padding: .5rem;
    margin:  0 auto 10px;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    color: darkgreen;
    font-size: large;
}
.disabled{
    background-color: grey;
}